/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  ========================================
  Custom styles
  ========================================
*/

header {
  width: 1605px;
  height: 48px;
  background: #fff;
  position: fixed;
  border: 1px solid #ccc;
  top: 0;
}

header div {
  display: inline-block;
}

.quick-navigation {
  margin-top: 7px;
}

body{
	font-family: sans-serif;
  width: 1605px;
  margin-left: auto;
  margin-right: auto;
}

.button-left {
  font-size: 11px;
	font-weight: 700;
  background-color: white;
  vertical-align: middle;
  border-radius: 3px;
  float: left;
}
.section-button {
	height: 30px;
	border: 1px solid #dbdbdb;
  width: 105px;
  position: relative;
  left: -15px;
  -webkit-box-shadow: -2px 2px 5px 0px rgba(176,170,176,1);
	   -moz-box-shadow: -2px 2px 5px 0px rgba(176,170,176,1);
			box-shadow: -2px 2px 5px 0px rgba(176,170,176,1);
}

.button-left:hover{
  background-color: #F5F5F5;
}

.button-left i {
  display: inline-block;
  height: 16px;
  width: 16px;
	float: left;
	margin-left: 5px;
}

.section-button i {
  background-repeat: no-repeat;
  background-image: url(images/sprite-no-repeat.png);
	background-position: -477px -105px;
}

.section-button span{
	display: inline-block;
	float: left;
  margin-top: 2px;
  margin-left: 5px;
}

.home-button, .search-button {
  height: 30px;
  width: 90px;
  margin-right: 5px;
  border: none;
}

.home:hover, .search:hover{
	background-color: #F5F5F5;
}

.home-button i{
	background-image: url(images/sprite-no-repeat.png);
	background-repeat: no-repeat;
	background-position: -288px -137px;
}
.search-button i{
	background-image: url(images/sprite-no-repeat.png);
	background-repeat: no-repeat;
	background-position: -429px -105px;
}

.home-button span, .search-button span{
	display: inline-block;
	float: left;
	margin-top: 2px;
	margin-left: 5px;
}

.branding {
  height: 26px;
	width: 200px;
  background-repeat: no-repeat;
	background-image: url(images/nyt-logo.svg);
	vertical-align: middle;
	margin-left: 420px;
  margin-top: -16px;
}

.user-tools {
  float:right;
  margin-top: 7px;
  position:relative;
  left: -20px;
}

.sub-button, .login-button {
  background-color: #6288A5;
  border: 1px solid #4D7B9F;
  color: #FFFFFF;
  border-radius: 3px;
  font-size: 11px;
	font-weight: 700;
  height: 30px;
  margin-right: 4px;
}

.sub-button:hover, .login-button:hover {
  background-color: #326891;
}

.setting-button {
  background-color: white;
  border: none;
  font-size: 11px;
  font-weight: 700;
  border: 1px solid transparent;
  height: 30px;
  vertical-align: top;
}

.setting-button:hover{
	background-color: #F5F5F5;
}

.main-container {
  width: 1605px;
  margin-top: 48px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  height: 100%;
}

.container {
  margin-top: 70px;
  width: 66%;
  margin: 0 auto;
}

.container div {
  display: block;
}

.light {
  border-top: 1px solid black;
  padding-top: 8px;
}

.light h3 {
  margin-bottom: 24px;
}

.light a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}

.light h1 {
  font-size: 34px;
  line-height: 38px;
  font-weight: 600;
  font-style: normal;
  font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
  font-style: italic;
  margin-bottom: 10px;
}

.author {
  border-top: 1px solid #e2e2e2;
  padding-top: 7px;
  padding-bottom: 15px;
}

.author p {
  font-size: 12px;
  line-height: 23px;
  font-weight: 400;
  font-style: normal;
  font-family: georgia,"times new roman",times,serif;
}

.author a {
  text-decoration: none;
  color: black;
}

.caption-text {
  color: #66666A;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  font-style: normal;
  font-size: 13px;
  line-height: 17px;
  font-weight: 300;
  max-width: 615px;
}

.credit {
  color: #999;
  font-weight: 400;
  font-style: normal;
  font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
  font-size: 0.6875rem;
}

.content, .content3 {

  margin-top: 20px;
  font-family: georgia,"times new roman",times,serif;
  font-size: 1rem;
  line-height: 1.4375rem;
  font-weight: 400;
  font-style: normal;
  width: 550px;
  margin: auto;
}

.article-insert {
  border-bottom: 1px solid #e2e2e2;
  border-top: 1px solid #e2e2e2;
  display: block;
  margin: 15px auto;
  padding: 15px 0;
  min-width: 720px;
  max-width: 945px;
}

.article-insert ul {
  background: url(images/inflation-945.png) no-repeat;
  background-size: contain;
  font-size: 14px;
  font-family: arial, helvetica, sans-serif;
  width: 945px;
  max-width: 100%;
}

.article-insert li {
  display: inline-block;
  line-height: 17px;
  margin: 0 0.25%;
  padding-top: 150px;
  width: 24%;
  vertical-align: top;
}

.article-insert h5 {
  float: left;
  font-size: 11px;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-weight: 700;
  margin-right: 10px;
  text-transform: uppercase;
}

.article-insert p {
  font-size: 13px;
  margin-bottom: 10px;
}

.article-insert h3 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 3px;
}
.interative-credit {
  font-size: 0.75rem;
  line-height: 0.875rem;
  font-weight: 300;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #999;
  width: 950px;
  padding-bottom: 10px;
}

.content3 iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  left: -30px;
}

.content3 h2 {
  font-weight: bold;
}

.Imgdtl {
    font-size: 0.8125rem;
    line-height: 1.0625rem;
    font-weight: 300;
    font-style: normal;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
    color: #666;
}

.support {
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: 400;
    font-style: normal;
    font-family: "nyt-cheltenham-sh",georgia,"times new roman",times,serif;
    display: inline-block;
    color: #999;
}

.telescope {
  margin-top: 20px;
  left: -30px;
}

.support a {
  text-decoration: none;
  color: #999;
}

.support a:hover {
  text-decoration: underline;
}

.content3 {
  margin-bottom: 40px;
}

.article-previews {
  margin: 0 auto;
  width: 1050px;
}

.article-previews section {
  width: 675px;
  display: inline-block;
  vertical-align: top;
}

.previews-header {
  border-top: 1px solid #ccc;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  margin-top: 25px;
  padding-top: 8px;
}

.previews-header h4 {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.previews-header a {
  color: #326891;
  float: right;
  font-size: 11px;
  text-align: right;
  text-decoration: none;
}
.article-previews section li {
  display: inline-block;
  margin-right: 18px;
  margin-top: 8px;
  width: 210px;
  vertical-align: top;
}

.article-previews section li:nth-child(3n) {
  margin-right: 0px;
}
.article-previews section li a {
    font-size: 1rem;
    line-height: 1.125rem;
    font-weight: 500;
    font-style: normal;
    font-family: "nyt-cheltenham",georgia,"times new roman",times,serif;
    text-decoration: none;
    color: #333;
}

.article-previews aside {
  margin-top: 25px;
  width: 300px;
  margin-left: 50px;
  border-top: 1px solid #ccc;
  display: inline-block;
  vertical-align: top;
}

.article-previews aside h5 {
  font-size: 0.6875rem;
  line-height: 0.6875rem;
  font-weight: 700;
  font-style: normal;
  font-family: "nyt-franklin",arial,helvetica,sans-serif;
  color: #000;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-previews aside ol {
  margin-left: 30px;
}

.article-previews aside li {
  list-style: decimal;
  list-style-position: outside;
  margin-bottom: 10px;
  vertical-align: middle;
}

.article-previews aside li > a {
  color: #326891;
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  width: 220px;
  vertical-align: middle;
  text-decoration: none;
}

.article-previews aside > a {
  color: #326891;
  font-family: "Open Sans", arial, helvetica, sans-serif;
  font-size: 12px;
}

.article-previews aside img {
  display: inline-block;
  height: 40px;
  width: 40px;
  vertical-align: middle;
}
